table.tb {
    width: 850px;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
}

.tb thead th {
    background-color: #2f4f4fa6;
    padding: 0.5% 0.5%;
    border: 0.1px solid #000;
    border-collapse: collapse;
    color:#fff;
}

.tb tr td {
    border: 0.1px solid #000;
    border-collapse: collapse;
    padding: 0.5% 0.5%;
}

.tb thead, .tb tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.tb tbody {
    display: block;
    height: 110px;
    overflow-y: scroll;
}

.tb tbody tr{
    width: 850px;
    height: 20px;
}

.tb thead, .tb tfoot tr{
    width: calc( 100% - 1em );
}

.stock {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.tradeDate {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.volume {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: none;
}

.price {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: none;
}